@import "tailwindcss";

body{
    font-family: "Barlow", sans-serif;
    font-optical-sizing: auto;
}

header{
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10), 0px 1px 2px 0px rgba(0,0,0,0.06);
}

.addIngredient{
    /* width: 160px; */
    background-color: #222;
    color: #f1f1f1;
    border-radius: 6px;
    cursor: pointer;
    transition: 0.5ms;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 2px; */
}

.addIngredient:active{
    transform:  translateY(-3px);
    box-shadow: 0px 1px 3px 0px rgba(0,0,0,0.10), 0px 1px 2px 0px rgba(0,0,0,0.06);

}

.addIngredient button::before {
    content: '+';
    margin-right: 6px;
    font-size: 1rem;
}